.App {
  text-align: center;
}
.adminBtn{
  margin: 1% 2%;
}
#App-Navbar{
  border: solid crimson;
  position: relative;
  top: 0px;
  width: 100%;
}
#ButtonsWithFunctions-btns{
  border: solid gold;
  position: relative;
}
.wrapper{
  border: solid black;
}
#MenuList--Food{
  border: dotted silver;
  list-style: none;
}
.Menu--listOfItems{
  border: solid silver;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
#Menu--listOff{
  background-color: indianred;
}
#Menu--listOn{
  background-color: darkseagreen;
}