.App {
  text-align: center;
}
button{
  margin:1%;
  border-radius: 3rem;
}
.adminBtnForActions{
  margin: 0.4% 0.8%;
}
.adminBtn{
  margin: 0.1% 0.1%;
  margin: 2%;
}
#App-Navbar{
  /*border: solid crimson;*/
  position: relative;
  top: 0px;
  width: 100%;
}
#ButtonsWithFunctions-btns{
  /*border: solid gold;*/
  position: relative;
}
.wrapper{
  margin: 2% 0.7%;
  padding: 1%;
  border: solid black;
  background-color: darkgrey;
  border-radius: 3rem;
}

.Menu--listOfItems{
  border: solid silver;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: palevioletred;
}

#Menu--listOn{
  background-color: darkseagreen;
}

#MenuListOn--description{
  background-color: darkolivegreen;
  font-size: x-large;
}
#MenuListOff--description{
  background-color: indianred;
  font-size: x-large;
}
.nameOfItem{
  padding: 0.3rem;
border: black solid;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 3.3rem;
}
.listinorders{
  list-style: none;
}
.ulinorders{
  border: solid black;
  margin: 2%;
}
.createNewItem{
  border: solid black;
  background-color: navajowhite;
}
.showMenu{
  padding-left: 0;
  padding: 0% 2%;
}
.smallerText{
  font-size: small;
}
.inputAreaSmaller{
  width: 3rem;
}

.inputAreaNormal{
  width: 7rem;
}
#idName{
  background-color: gold;
}
.printToMenu{
  font-size: larger;
  font-weight: bold;
}

