.App {
  text-align: center;
}
.adminBtn{
  margin: 0.1% 0.1%;
}
#App-Navbar{
  /*border: solid crimson;*/
  position: relative;
  top: 0px;
  width: 100%;
}
#ButtonsWithFunctions-btns{
  /*border: solid gold;*/
  position: relative;
}
.wrapper{
  margin: 0%;
  padding: 0%;
  border: solid black;
  background-color: honeydew;
}

.Menu--listOfItems{
  border: solid silver;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: cornsilk;
}

#Menu--listOn{
  background-color: darkseagreen;
}

#MenuList--description{
  background-color: silver;
  font-size: x-large;
}
.nameOfItem{
  border: solid black;
}